// Elements inside #{$ns}-common-header-title
.#{$ns}-common-header-title-sub {
  margin-top: 10px;
  font-size: 0.875rem;
}

// Moved here from _login.scss
.#{$ns}-header {
  margin-bottom: 1em;
  text-align: center;
}

.#{$ns}-header-xl {
  font-size: $font-size-xl !important;
}

.#{$ns}-header-lg {
  font-size: $font-size-lg !important;
}

.#{$ns}-header-md {
  font-size: $font-size-md !important;
  line-height: 1.35;
}

.#{$ns}-header-sm {
  font-size: $font-size-sm !important;
}

.#{$ns}-header-xs {
  font-size: $font-size-xs !important;
}

.#{$ns}-header-xxs {
  font-size: $font-size-xxs !important;
}

.#{$ns}-header-bordered {
  border-top: 1px solid palette('neutral', 'dark');
  border-bottom: 1px solid palette('neutral', 'dark');
}
