.#{$ns}-bg-light {
  background-color: white;
}

.#{$ns}-bg-warning-washed {
  background-color: palette('warning', 'washed');
}

.#{$ns}-bg-neutral {
  background-color: palette('neutral');
}

.#{$ns}-bg-info {
  background-color: palette('info');
}
