
.#{$ns}-header-xl {
  font-size: $font-size-xl;
}

.#{$ns}-header-lg {
  font-size: $font-size-lg;
}

.#{$ns}-header-md {
  font-size: $font-size-md;
}

.#{$ns}-header-sm {
  font-size: $font-size-sm;
}

.#{$ns}-header-xs {
  font-size: $font-size-xs;
}

.#{$ns}-header-xxs {
  font-size: $font-size-xxs;
}
