// App namespacer
$ns: 'flt';

// Header sizes
$font-size-h1: 3rem;
$font-size-h2: 2.6rem;
$font-size-h3: 2.2rem;
$font-size-h4: 1.8rem;
$font-size-h5: 1.4rem;
$font-size-h6: 1rem;

// Text sizes
$font-size-xl: 2.625rem;
$font-size-lg: 2rem;
$font-size-md: 1.625rem;
$font-size-sm: 1.5rem;
$font-size-xs: 1.25rem;
$font-size-xxs: 1rem;

// Exact sizes
$font-10: 0.625rem;
$font-11: 0.6875rem;
$font-12: 0.75rem;
$font-13: 0.8125rem;
$font-14: 0.875rem;
$font-18: 1.125rem;
$font-20: 1.25rem;
$font-22: 1.375rem;
$font-24: 1.5rem;

// Thickness
$regular: 400;
$semi: 600;
$bold: 700;